@charset "UTF-8";

$images-path: '../../images';
$fonts-path: '../../fonts';
 
@import "settings/settings";
@import "settings";

@import "foundation";
@include foundation-everything($flex: false);
 
@import 'motion-ui';
@include motion-ui-transitions;

@import "components/buttons";
@import "components/statuscard";

// Example of plain .css import (always ends up at the top of  the output file)
// @import url("../bower_components/jquery-ui/themes/base/core.css");
   