.status-update {
    textarea {
        resize: none;
    }
    input[type="file"] {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        opacity: 0.01;
        cursor: pointer;
    }
    button {
        display: block;
        float: right;
        &.large {
            margin: 0;
        }
    }
    .post {
        margin: 0;
    }
    a {
        color: #3b5998;
        cursor: pointer;
        text-decoration: none;
    }
    hr {
        line-height: 1px;
        height: 1px;
        color: rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .1);
        border: 0;
    }
    img {
        width: 100%;
    }
    &__box {
        margin: 20px 0 0 0;
        background: #fff;
        border: 1px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        .right-icon {
            float: right;
            display: inline;
            width: 24px;
            height: 24px;
            color: #eee;
            cursor: pointer;
        }
        .content {
            padding: 12px;
        }
        .row.header {
            max-height: 40px;
            margin-bottom: 11px;
        }
        .header {
            position:relative;
            .avatar {
                float: left;
                width: 40px;
                height: 40px;
                margin-right: 8px;
            }
            .name {
                width: calc(100% - 40px - 8px);
                h5 {
                    margin-bottom: 2px;
                    font-weight: 700;
                    font-size: 14px;
                }
                span {
                    color: #9197a3;
                    font-size: 12px;
                }
            }
            .sub {
                position:absolute;
                right: 10px;
                top:0;
                font-size: 13px;
                color: rgba(0,0,0, .5);
            }
        }
        .text {
            padding: rem-calc(10);
        }
        .thumbnail {
            margin-top: 10px;
            width: 100%;
            border:0;
            margin-bottom: 0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        }
        .footer {
            border-top: 1px solid #e1e2e3;
            margin: 0;
            padding: 9px 12px 7px 12px;
            font-size: 12px;
            background-color: #f6f7f8;
            border-radius: 0 0 3px 3px;
            color: #141823;
            overflow: hidden;
            .row {
                margin-top: 10px;
                margin-bottom: 2px;
                overflow: hidden;
            }
            .small-avatar {
                width: 32px;
                height: 32px;
                float: left;
                margin-right: 8px;
            }
            .write-comment input[type="text"] {
                background: #fff;
                border: 1px solid #dcdee3;
                padding: 7px 7px 7px 5px;
                min-height: 16px;
                width: calc(100%);
                float: left;
            }
        }
    }
}
